*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(211, 211, 211);
    overflow-x: hidden;
}

header{
    display: flex;
    flex-direction: column;
}

img:hover{
    cursor: pointer;
}

.upper-nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
}

.logo{
    margin: auto 0 ;
}

.logo:hover{
    cursor: pointer;
    border: 1px white solid;
    border-radius: 5px;
}

.logo img{
 width: 150px;
 height: 50px;
}

.content p{
    font-size: 0.8rem;
    color: rgb(152, 146, 146);
}

.location{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0 10px;
}

.location:hover{
    cursor: pointer;
    border: 1px white solid;
    border-radius: 5px;
}

.search-bar{
    width: 50%;
    margin-left: 10px;
}

.inner-search-container{
    display: flex;
    justify-content: center;
}

#categories{
    outline: none;
    border: none;
    width: 40px;
    background-color: rgb(236, 233, 233);
}

.search-bar input{
    width: 90%;
    outline: none;
    border: none;
    padding: 10px;
    font-size: 1rem;
}

.search-bar i{
    padding: 10px;
    background-color: orange;
}

.other-details{
    display : flex;
    justify-content: space-evenly;
    gap: 20px;
}

.country{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0 10px;
}

.country:hover{
    cursor: pointer;
    border: 1px white solid;
    border-radius: 5px;
}

.signIn p{
    font-size: 0.8rem;
    margin: auto;
}

.signIn{
    padding: 0 10px;
}

.signIn:hover{
    cursor: pointer;
    border: 1px white solid;
    border-radius: 5px;
}

.return p {
    font-size: 0.9rem;
}

.return{
    padding: 0 10px;
}

.return:hover{
    cursor: pointer;
    border: 1px white solid;
    border-radius: 5px;
}

.cart{
    margin-right: 10px;
    display: flex;
    align-items: end;
}

.cart:hover{
    cursor: pointer;
    border: 1px white solid;
    border-radius: 5px;
}

.cart i {
    font-size: 2rem;
}

/* Lower Navbar  */

.lower-nav-bar{
    display: flex;
    background-color: #0f1111;
}

.lower-nav-bar ul{
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 13px 0 13px 15px;
}

.lower-nav-bar ul li{
    list-style: none;
}

.lower-nav-bar ul li:hover{
    cursor: pointer;
    border: 1px white solid;
    border-radius: 5px;
    padding-inline: 5px;
}

.firstLi{
    display: flex;
    align-items: center;
    gap: 5px;
}

.lower-nav-bar ul li a {
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
}

.lower-nav-bar img{
    margin-left: 18px;
}

/* Hero Section */

.background-Image{
    position: relative;
    height: 600px;
    background-image: url("https://images-eu.ssl-images-amazon.com/images/G/31/CookwareDining/JanART26/GW/Desktop/Endstmrw/3000x1200tonightunrec._CB773710526_.jpg");
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.background-Image::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 220px;

    background-image: inherit;
    background-size: cover;
    background-position: bottom;

    filter: blur(18px);
    transform: scale(1.1);

    mask-image: linear-gradient(
        to top,
        black 0%,
        black 40%,
        transparent 100%
    );

    -webkit-mask-image: linear-gradient(
        to top,
        black 0%,
        black 40%,
        transparent 100%
    );
}

.background-Image::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 280px;

    background: linear-gradient(
        to bottom,
        rgba(211, 211, 211, 0) 0%,
        rgba(211, 211, 211, 0.8) 60%,
        rgba(211, 211, 211, 1) 100%
    );

    pointer-events: none;
}


.hero-section{
    position: relative;
    z-index: 3;
    margin-top: -270px;
    padding: 0 10px;
}

.content-container-01{
    margin: 0 10px 0 10px;
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 10px;
}

.content-link{
    color: white;
    text-decoration: none;
}

.boxes{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  padding: 10px;
  background-color: white;
  flex-wrap: wrap;
  border-radius: 5px;
}

.boxes img{
    width: 160px;
}


.boxes h3{
    font-size: 1.3rem;
}

.boxes p{
    font-size: 0.8rem;
}

.offers-link{
    text-decoration: none;
    color: blue;
}

.mobiles-container , .kitchen-container , .home-appliances-container{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    gap: 10px;
    margin : 15px 0 ;
}

.headphones-container img{
    width: 100%;
}

.electronics img{
    width: 100%;
}

.content-container-02 , .content-container-03 , .content-container-05{
    margin: 20px 10px;
}

.bikes-content-container , .computer-content-container , .sofa-content-container{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 10px;
}

.bike-images-container , .computer-images-container , .sofa-images-container{
    display: flex;
    justify-content: space-evenly;
}

.bike-images-container img , .sofa-images-container img{
    width: 250px;
    height: 200px;
}

.content-container-04{
    margin: 20px 10px;
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 10px;
}

.beauty-container{
    gap: 20px;
}

.beauty-image img , .kitchen-image img{
    width: 100%;
    height: 250px;
    margin-bottom : 10px;
}

#price{
    font-size : 1.4rem ;
    margin-top: 10px;
}

.fashion-container , .joy-container{
    gap: 15px;
}

.fashion-images , .joy-images{
    display: flex;
    flex-wrap: wrap;
}

.fashion-images img , .joy-images img{
    height: 140px;
    width: 160px;
}

.other-section{
    margin-top: 30px;
}

.recommendations{
    background-color: white;
    padding: 20px 0;
}

.recommendations hr{
    margin: 5px 0;
}

.recommendation-content{
    padding: 20px;
    text-align: center;
    gap: 10px;
}

.recommendation-content h3{
    font-size: 1.5rem;
}

.recommendation-content button{
    margin-top: 10px;
    padding: 10px 100px;
    border-radius: 20px;
    background-color: gold;
    border: none;
    outline: none;
}

.recommendation-content button:hover{
    cursor: pointer;
    background-color: rgb(234, 201, 15);
}

.new-customer{
    display: flex;
    justify-content: center;
    gap: 5px;
}

.new-customer p{
    font-size: 0.8rem;
}

.new-customer a{
    font-size: 0.8rem;
}

.back-to-top{
    text-align: center;
    padding: 15px 0;
    background-color: rgb(55, 71, 90);
}

.back-to-top a{
    color: white;
    text-decoration: none;
}

.back-to-top:hover{
    cursor: pointer;
    background-color: rgb(100, 108, 119);
}

.more-details{
    background-color: rgb(32, 43, 56);
    color: white;
    display: flex;
    flex-direction: column;
}

.with-us-details{
    display : flex;
    justify-content: center;
    gap: 50px;
    padding: 40px 0;
}

.with-us-details h2{
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.with-us-details li{
    list-style: none;
}

.with-us-details a{
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
}

.with-us-details a:hover{
    text-decoration: underline;
}

.details{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 25px 0;
}

.amazon-logo-02:hover{
    cursor: pointer;
    border: none;
}

.language-nation{
    display: flex;
    gap: 50px;
}

.language{
    border: 1px gray solid;
    padding: 5px 55px;
    border-radius: 5px;
}

.nation{
    border: 1px gray solid;
    padding: 5px 35px;
    border-radius: 5px;
}

footer{
    background-color: rgb(19, 26, 34);
    color: white;
}

.upper-footer{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 30px;
    padding: 15px 0;
}

.abebooks{
    margin-left: 90px;
}

.shopbop{
    margin-left: 90px;
}

.upper-footer h6{
    font-size: 0.8rem;
}

.upper-footer h6:hover{
    cursor: pointer;
    text-decoration: underline;
}

.upper-footer p{
    font-size: 0.8rem;
}

.upper-footer p:hover{
    cursor: pointer;
    text-decoration: underline;
}

.lower-footer{
    text-align: center;
    padding: 25px 0;
    font-size: 0.8rem;
}

.lower-footer a{
    color: white;
    text-decoration : none;
    margin-right: 50px;
}

.lower-footer a:hover{
    text-decoration: underline;
}