*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightgray;
}

header{
    display: flex;
    flex-direction: column;
}

.upper-nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
}

.logo{
    margin: auto 0 ;
}

.logo img{
 width: 150px;
 height: 50px;
}

.content p{
    font-size: 0.8rem;
    color: rgb(152, 146, 146);
}

.location{
    display: flex;
    align-items: center;
    gap: 5px;
}

.search-bar{
    width: 50%;
    margin-left: 10px;
}

.inner-search-container{
    display: flex;
    justify-content: center;
}

#categories{
    outline: none;
    border: none;
    width: 40px;
    background-color: rgb(236, 233, 233);
}

.search-bar input{
    width: 90%;
    outline: none;
    border: none;
    padding: 10px;
    font-size: 1rem;
}

.search-bar i{
    padding: 10px;
    background-color: orange;
}

.other-details{
    display : flex;
    justify-content: space-evenly;
    gap: 20px;
}

.country{
    display: flex;
    align-items: center;
    gap: 5px;
}

.signIn p{
    font-size: 0.8rem;
    margin: auto;
}

.return p {
    font-size: 0.9rem;
}

.cart{
    margin-right: 10px;
    display: flex;
    align-items: end;
}

.cart i {
    font-size: 2rem;
}

/* Lower Navbar  */

.lower-nav-bar{
    display: flex;
    background-color: #0f1111;
}

.lower-nav-bar ul{
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 13px 0 13px 15px;
}

.lower-nav-bar ul li{
    list-style: none;
}

.firstLi{
    display: flex;
    align-items: center;
    gap: 5px;
}

.lower-nav-bar ul li a {
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
}

.lower-nav-bar img{
    margin-left: 18px;
}

/* Hero Section */

.hero-section{
    background-image: url("https://images-eu.ssl-images-amazon.com/images/G/31/CookwareDining/JanART26/GW/Desktop/Endstmrw/3000x1200tonightunrec._CB773710526_.jpg");
    background-size: cover;
    height: 600px;
    margin: 0 10px;
    padding: 1px;
}

.content-container{
    margin: 250px 10px 0 10px;
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 10px;
}

.boxes{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  padding: 10px;
  background-color: white;
  flex-wrap: wrap;
  border-radius: 5px;
}

.boxes img{
    width: 160px;
}


.boxes h3{
    font-size: 1.3rem;
}

.boxes p{
    font-size: 0.8rem;
}

.boxes a{
    text-decoration: none;
    color: blue;
}

.mobiles-container , .kitchen-container , .home-appliances-container {
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    gap: 10px;
    margin : 15px 0 ;
}

.headphones-container img{
    width: 100%;
}

.electronics img{
    width: 100%;
}
